In [94]:
import pandas as pd
import numpy as np

df = pd.read_excel('imdbWebScraping.xlsx')
df

                                  titulo                  ano
0               1. Um Sonho de Liberdade     1994\n2h 22m\n16
1                   2. O Poderoso Chefão     1972\n2h 55m\n14
2      3. Batman: O Cavaleiro das Trevas     2008\n2h 32m\n12
3         4. O Poderoso Chefão: Parte II     1974\n3h 22m\n14
4            5. 12 Homens e uma Sentença  1957\n1h 36m\nLivre
..                                   ...                  ...
245            246. Na Natureza Selvagem     2007\n2h 28m\n12
246                247. Feitiço do Tempo     1993\n1h 41m\n12
247              248. Histórias Cruzadas     2011\n2h 26m\n12
248                   249. Amores Brutos     2000\n2h 34m\n16
249  250. Rebecca, a Mulher Inesquecível     1940\n2h 10m\n12

[250 rows x 2 columns]

In [95]:
# Ano

df['ano'] = df['ano'].str.split()
df

                                  titulo                     ano
0               1. Um Sonho de Liberdade     [1994, 2h, 22m, 16]
1                   2. O Poderoso Chefão     [1972, 2h, 55m, 14]
2      3. Batman: O Cavaleiro das Trevas     [2008, 2h, 32m, 12]
3         4. O Poderoso Chefão: Parte II     [1974, 3h, 22m, 14]
4            5. 12 Homens e uma Sentença  [1957, 1h, 36m, Livre]
..                                   ...                     ...
245            246. Na Natureza Selvagem     [2007, 2h, 28m, 12]
246                247. Feitiço do Tempo     [1993, 1h, 41m, 12]
247              248. Histórias Cruzadas     [2011, 2h, 26m, 12]
248                   249. Amores Brutos     [2000, 2h, 34m, 16]
249  250. Rebecca, a Mulher Inesquecível     [1940, 2h, 10m, 12]

[250 rows x 2 columns]

In [96]:
# Classificao

def separar_classificacao(lista):
    return lista[-1]

df['classificacao'] = df['ano'].apply(separar_classificacao)

df['classificacao'] = df['classificacao'].replace('35m', '').replace('21m', '').replace('Rated', 'Not Rated')

In [97]:
# Ano

def separar_ano(lista):
    return lista[0]

df['ano'] = df['ano'].apply(separar_ano)

df

                                  titulo   ano classificacao
0               1. Um Sonho de Liberdade  1994            16
1                   2. O Poderoso Chefão  1972            14
2      3. Batman: O Cavaleiro das Trevas  2008            12
3         4. O Poderoso Chefão: Parte II  1974            14
4            5. 12 Homens e uma Sentença  1957         Livre
..                                   ...   ...           ...
245            246. Na Natureza Selvagem  2007            12
246                247. Feitiço do Tempo  1993            12
247              248. Histórias Cruzadas  2011            12
248                   249. Amores Brutos  2000            16
249  250. Rebecca, a Mulher Inesquecível  1940            12

[250 rows x 3 columns]

In [98]:
df['ano'] = df['ano'].apply(int)
df

                                  titulo   ano classificacao
0               1. Um Sonho de Liberdade  1994            16
1                   2. O Poderoso Chefão  1972            14
2      3. Batman: O Cavaleiro das Trevas  2008            12
3         4. O Poderoso Chefão: Parte II  1974            14
4            5. 12 Homens e uma Sentença  1957         Livre
..                                   ...   ...           ...
245            246. Na Natureza Selvagem  2007            12
246                247. Feitiço do Tempo  1993            12
247              248. Histórias Cruzadas  2011            12
248                   249. Amores Brutos  2000            16
249  250. Rebecca, a Mulher Inesquecível  1940            12

[250 rows x 3 columns]

In [99]:
df.to_excel('imdbTratado.xlsx', index=False)