In [ ]:
#1. Exercício: Carregar um arquivo e exibir as primeiras 5 linhas.
import pandas as pd
df = pd.read_excel('dados_ausentes.xlsx')
df

In [ ]:
#2. Exercício: Verificar se há valores NaN nas colunas do DataFrame.
import pandas as pd
df = pd.read_excel('dados_ausentes.xlsx')
df.isnull()

In [ ]:
#3. Exercício: Substituir os valores NaN de uma coluna por 0.
import pandas as pd
df = pd.read_excel('dados_ausentes.xlsx')

df['Salário'].fillna(0)

In [ ]:
#4. Exercício: Substituir os valores NaN de uma coluna por um valor específico
import pandas as pd
df = pd.read_excel('dados_ausentes.xlsx')

df['Cidade'].fillna('Desconhecida')

In [ ]:
#5. Exercício: Remover todas as linhas que contêm valores NaN em qualquer coluna
import pandas as pd
df = pd.read_excel('dados_ausentes.xlsx')

dfsemnulo=df.dropna()
dfsemnulo

In [ ]:
#6. Exercício: Remover todas as linhas que contêm valores NaN em uma coluna específica.
import pandas as pd
df = pd.read_excel('dados_ausentes.xlsx')
dfa= df.dropna(subset=['Cidade'])
dfa

In [ ]:
#7. Exercício: Substituir valores NaN de uma coluna com a mediana dessa coluna.
import pandas as pd
df = pd.read_excel('dados_ausentes.xlsx')

df['Salário'].fillna(df['Salário'].mean(),inplace=True)
df

In [ ]:
#8. Exercício: Substituir valores NaN de uma coluna com o valor de uma outra coluna.
import pandas as pd
df = pd.read_excel('dados_ausentes.xlsx')

df['Idade'] = df['Idade'].fillna(df['Cidade'])
df

In [ ]:
#9. Exercício: Preencher valores NaN com o valor anterior (método de forward fill;).
import pandas as pd
df = pd.read_excel('dados_ausentes.xlsx')

df['Idade'] = df['Idade'].ffill()
df

In [ ]:
#10. Exercício: Preencher valores NaN com o valor posterior (método de backward fill).
import pandas as pd
df = pd.read_excel('dados_ausentes.xlsx')

df['Idade'] = df['Idade'].bfill()
df

In [ ]:
#11. Exercício: Alterar todos os valores de uma coluna para maiúsculas.

import pandas as pd
df = pd.read_excel('dados_ausentes.xlsx')

df ['Cidade'] = df['Cidade'].str.capitalize()
df

In [ ]:
#12. Exercício: Alterar todos os valores de uma coluna para minúsculas.

import pandas as pd
df = pd.read_excel('dados_ausentes.xlsx')

df ['Cidade'] = df['Cidade'].str.lower()
df

In [ ]:
#13. Exercício: Remover espaços em branco à esquerda e à direita em uma coluna.


import pandas as pd
df = pd.read_excel('dados_ausentes.xlsx')
#removar da esquerda
df ['Cidade'] = df['Cidade'].str.lstrip()
#remover da direita 
df ['Cidade'] = df['Cidade'].str.rstrip()
df

In [ ]:
#14. Exercício: Substituir valores de uma coluna com base em um dicionário de mapeamento (ex:São Paulo para "SP";).

import pandas as pd
df = pd.read_excel('dados_ausentes.xlsx')

df['Cidade'] = df['Cidade'].str.lower().replace({'são paulo': 'SP', 'rio de janeiro': 'RJ', 'rj': 'RJ', 'salvador': 'BA', 'porto alegre':'POA'})
df

In [ ]:
#15 - Exercício: Identificar e remover valores duplicados de um DataFrame.

import pandas as pd
df = pd.read_excel('dados_ausentes.xlsx')

df = df.drop_duplicates(subset=['Nome'])
df